@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background: rgb(241, 241, 241) none repeat scroll 0% 0%;
}

h1.big-title{
  background: purple;
  color: white;
  padding: 10px;
  margin: 0 auto;
  a{
    color: white;
  }
}
textarea { resize: vertical; }

.post-item{
  position: relative;
  background: white none repeat scroll 0% 0%;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;
  h3{
    margin-top: 0;
  }
  .post-tag a{
    background-color: #3498DB;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
  }
  small{
    display: block;
    position: absolute;
    right: 11px;
    top: 14px;
  }
}
.gallery-item{
  padding: 20px;
  float: left;
}

#new-status{
  background: white;
  padding: 20px;
  border: solid 1px rgb(241, 241, 241);
  border-radius: 10px;
  margin-bottom: 20px;
  .field{
    margin-bottom: 10px;
  }
}
#footer{
  background: purple;
  color: white;
  height: 50px;
  text-align: center;
  p {
    line-height: 48px;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
  max-width:300px;
  margin-right: 0;
  margin-left: 0;
}

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}